#! /bin/bash
set -xeuo pipefail
export VAULT_ADDR=${vault_addr}
export VAULT_NAMESPACE=${vault_namespace}

wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor --yes -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
apt update && sudo apt install vault-enterprise

apt-get install -y ca-certificates
update-ca-certificates

apt install -y nginx

cat >>/etc/nginx/sites-available/default <<EOF
server {
    listen 443 ssl;
    server_name ${client_name};

    ssl_certificate /home/ubuntu/nginx-cert.crt;
    ssl_certificate_key /home/ubuntu/nginx-cert.key;
}
EOF

cat >>/home/ubuntu/agent.hcl <<EOF
${agent_config}
EOF

#vault agent -config /home/ubuntu/agent.hcl

#systemctl restart nginx
