exit_after_auth = false
pid_file = "./pidfile"

vault {
  address = "${vault_addr}"
  namespace = "${vault_namespace}"
  retry {
    num_retries = 5
  }
}

auto_auth {
   method "aws" {
     mount_path = "auth/${aws_auth_path}"
     config = {
       type = "iam"
       role = "${aws_auth_role}"
     }
   }
}

pki_external_ca "web-tls" {
  mount_path     = "${pki_external_ca_mount_path}"
  role           = "${pki_external_ca_role}"
  challenge_type = "http-01"

  identifiers {
    dns = ["${client_name}"]
  }

  http_01 {
    challenge_path = "/var/www/html/.well-known/acme-challenge"
  }

  destination {
    path       = "/home/ubuntu"
    pem_bundle = false
  }
}

template {
  destination = "/home/ubuntu/nginx-cert.crt"
  contents    = <<-EOT
    {{- with pkiCertExternalCa "web-tls" -}}
    {{- .Cert -}}
    {{- end -}}
  EOT
}

template {
  destination = "/home/ubuntu/nginx-cert.key"
  command     = "systemctl reload nginx"
  contents    = <<-EOT
    {{- with pkiCertExternalCa "web-tls" -}}
    {{- .Key -}}
    {{- end -}}
  EOT
}
